<h5>Search by minimum GPA</h5>
<form action="<%=users_path%>" method="GET">
<input type="text_field" name="min_gpa">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="submit" value="Minimum GPA">
</form>

<% @users.each do |user| %>

<% if user.degrees.first && user.degrees.first.school %>
<h3><%=link_to user.name, user_path(user)%> (<%=user.degrees.first.school.name%>)</h3>
<% else %>
<h3><%=link_to user.name, user_path(user)%></h3>
<% end %>
</br>

<% end %>
