<h1><%= @user.name %></h1>
</br>
</br>
<% @user.degrees.each do |deg| %>
<h3><%= deg.school.name %> (<%= deg.school.city %>)</h5>
</br>
<p><%= deg.name %></p>
<p>GPA: <%= deg.gpa %></p>
</br>
</br>
<% end %>
</br>

<% if current_user == @user %>
<%= render partial: 'degrees/form', locals: {user: @user, degree: @degree} %>
<% end %>
