<%= form_for  [user, degree]  do |f| %>

<% if user.errors[:name].empty? %>
    <div class="field">
<% else %>
    <div class="field_with_errors">
<% end %>
    <%= f.label "Degree" %>
    <%= f.text_field :name %>
  </div>

<% if user.errors[:name].empty? %>
  <div class="field">
<% else %>
  <div class="field_with_errors">
<% end %>
    <%= f.label :gpa %>
    <%= f.text_field :gpa %>
  </div>

  <% if user.errors[:year_completed].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
      <%= f.label "Year Completed" %>
      <%= f.text_field :year_completed %>
    </div>

  <%= f.fields_for :school do |sch| %>


      <div class="field">
      <%= sch.label "School Name" %>
	    <%= sch.text_field :name, list: "schools_autocomplete"%>
	     <datalist id="schools_autocomplete">
	      <%= School.all.each do |school| %>
	       <option value="<%= school.name %>">
	      <% end %>
	     </datalist>
	  </div>


      <div class="field">
	     <%= sch.label :city %>
	     <%= sch.text_field :city %>
     </div>

  <% end %>

  <%= f.submit %>
<% end %>
