
<% if logged_in? %>
<div class="nav">
  <%= link_to "My profile", user_path(current_user) %>
</div>
<div class="nav">
  <%= link_to "All users", users_path %>
</div>
<div class="nav">
  <%= link_to "Sign out", session_path(current_user.id), :method => "delete" %>
</div>
<% else %>
<div class="nav">
  <a href='/auth/facebook'>Login with Facebook</a>
</div>
<div class="nav">
  <%= link_to "Sign up", new_user_path %>
</div>
<div class="nav">
  <%= link_to "Log in", new_session_path %>
</div>
<% end %>
